.sign-up-section {
  padding: 7rem  0;
}


@media screen and (max-width : 800px) {

  .img-fluid {
    display: none;
  }
}

@media screen and (max-width : 600px) {

  .head {
    font-size: .5rem;
  }
}